/* Design guidelines 

Fonts ====
	font-size: 9, 12, 16, 21, 28, 37, 50, 67;

Colors ====
	color: http://www.paletton.com/#uid=74W0u0kllllaFw0g0qFqFg0w0aF
	primary purple: #6E256E
	green: #609732, yellow: #AAA039 (triad)
	green: #609732, yellow: #91A437, red: #983351 (tetrad)

*/

body {
	font-weight: 300;
	color: #666;
	font-family: 'Roboto', sans-serif;
	background-color: #EEE;
	padding-top: 70px;
	/* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}
.accent {
	color: #6F256F;
}

/* Navi */
.navbar {
	background-color: #FFF;
}
.navbar-brand img {
	height: 100%;
}

/* Grid */
.gridster > ul {
	list-style: none;
	margin: 0 auto 50px;
}
.gridster > ul > li {
	font-size: 12px;
	list-style: none;
	background-color: #FFF;
	overflow: scroll;
	text-align: left;
}
.gridster article {
	padding: 10px;
}
.block-header {
	width: 100%;
	background-color: #EEE;
	font-size: 16px;
}
.block-ctrls {
	display: inline-block;
	float: right;
}
.block-title {
	float: left;
	padding-bottom: 5px;
}

/* Component specific */
.ro-client,
.ro-figure {
	font-size: 37px;
	font-weight: 300;
}
.ro-client {
	
}
.ro-figure {
	color: #6E256E;
}
.ro-figure .subtext {
	color: #666;
	font-size: 21px;
}
.ro-figure .warning {
	color: #91A437;
	font-size: 21px;
	font-weight: 300;
}
.ro-figure .subtext .glyphicon {
	color: #666;
	font-size: 16px;
	padding-left: 5px;
}
.ro-heroblock {
}